@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<style>
    body {
        background-color: #0A082D;
        color:white;
    }
</style>

<div class="top-page">
<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>