@page
@model EasyLearn.Pages.YourLibrary.IndexModel


@{
    ViewData["Title"] = "Index";
}

<body class="custom-background">

    <h1 class="h1">Your library</h1>

    <style>
        body{
            background-color: #0A082C;
            color:#fff;
        }
    </style>












</body>




