@page
@model EasyLearn.Pages.TrainingModules.CreateModel

<style>
    body {
        background-color: #0A082D;
    }
</style>



<h2 class="create-title">Створити модуль із картками</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>


    <div class="card-box-container">

        <div class="upper-card-box">
            <div class="card-number">1</div>
            <input type="button" name="name" value="" class="remove-card" />
        </div>

        <div class="card-box">
            <input type="text" name="name" value="" class="card-term" />
            <input type="text" name="name" value="" class="card-description" />
            <label class="label-term">Term</label>
            <label class="label-description">Description</label>
        </div>
    </div>

</form>













@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
