@page
@model EasyLearn.Pages.YourLibraryFolders.IndexModel


@{
    ViewData["Title"] = "Index";
}

<body class="custom-background">

    <h1 class="h1">Папки</h1>

    <div class="tabs">
        <a asp-area="" asp-page="/YourLibrary/Index" class="tab" style="color:white">Навчальні модулі</a>
        <a asp-area="" asp-page="/YourLibraryFolders/Index" class="tab" style="color:cornflowerblue">Папки</a>
        <a asp-area="" asp-page="/YourLibraryCourses/Index" class="tab" style="color:white">Курси</a>
    </div>
    <hr class="tab-line">

</body>

