html {
    font-size: 14px;
    scrollbar-width: thin;
    scrollbar-color: #fff cornflowerblue; 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0a092d;
    height:1800px;
}

.x {
    position: relative;
    left: 580px;
    width: 30px;
    height: 15px;
    top: 3px;
}

.x1 {
    position: relative;
    left: 1488px;
    bottom: 11px;
}

.x3 {
    position: relative;
    left: 1550px;
    bottom: 11px;
}

.x4 {
    position: relative;
    left: 1565px;
    bottom: 11px;
}

.x5 {
    width: 50px;
    height: 50px;
    position: relative;
    left: 165px;
    bottom: 10px;
    background-image: url(../images/mental-health.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

header {
    background-color: #0a092d;
    height: 70px;
    padding: 12px;
    padding: 12px;
    border-bottom: 1px solid #282e3e;
}

footer {
    background-color: #0a092d;
}

.navbar-brand {
    position: relative;
    right: 400px;
    bottom: 9px;
    color: white !important;
    font-weight: 600;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
}

.navbar-nav {
    position: relative;
    right: 380px;
    bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 0px;
}

.nav-link {
    margin-left: 15px;
}

.nav-link:hover { 
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 5px;
    cursor: pointer;
}

.nav-link1 {
    position: relative;
    font-weight: bold;
    font-size: 17px;
    top: 8px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-link1:hover {
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 5px;
    cursor: pointer;
}

.nav-link1.active {
    text-decoration: underline;
    text-underline-offset: 17px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 5px;
    cursor: pointer;
}

.search-area {
    position: relative;
    width: 900px;
    height: 42px;
    bottom: 28px;
    border: none;
    border-radius: 1.5rem;
    text-align: left;
    background-color: #2e3856;
    background-image: url(../images/nwlupa.png);
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: center left 13px;
    z-index: 1;
    color: white;
    font-size: 18px;
    padding-left: 35px;
}

input::placeholder {
    position: relative;
    color: #d9dde8;
    font-weight: 600;
    font-size: 16px;
    right: -2px;
    bottom: 1px;
}

.add-button {
    height: 42px;
    width: 42px;
    background-color: #734BE3;
    border-radius: 50%;
    border: none;
    background-image: url(../images/nplusik.png);
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: center;
}

.add-button:hover {
    background-color: #6542C7;
 }

.log-in {
    border-radius: .5rem;
    height: 42px;
    width: 120px;
    background-color: #0a092d;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}

.log-in:hover {
    border: 1px solid gray;
    color: lightgray;
}

.register {
    border-radius: .5rem;
    height: 42px;
    width: 120px;
    background-color: orange;
    border: none;
    color: white;
    font-weight: 600;
}

.register:hover {
    background-color: #FF8000;
}

.openLibrary {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: .5rem;
    position: absolute;
    left: 375px;
    top: 80px;
    background-color: white;
    border: 2px solid #282e3e;
    background-color: #0a092e;
    visibility: hidden;
    z-index:1;
}

.openAddButton {
    position: relative;
    width: 230px;
    height: 150px;
    border-radius: .5rem;
    position: absolute;
    left: 1330px;
    top: 61px;
    background-color: white;
    border: 2px solid #282e3e;
    background-color: #0a092d;
    visibility: hidden;
    z-index:1;
}

hr {
    position: relative;
    width: 90%;
    left: 25px;
    top: 30px;
    background-color: white;
    height: 3px;
}

.fullHr {
    position: relative;
    top: 320px;
    width: 100%;
    left: 0px;
}

.checkModels {
    position: relative;
    top: 313px;
    left: 20px;
    cursor: pointer;
    color: #a8b1ff;
    font-weight: 600;
}

.checkModels:hover {
    color: #4255ff;
}

.EdM {
    width: 150px;
    position: relative;
    bottom: 52px;
    left: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #939bb4;
}

.EdM:hover {
    color: #7583ff;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 3px;
}

.folders {
    position: relative;
    bottom: 72px;
    left: 310px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #939bb4;
    width: 30px;
}

.folders:hover {
    color: #7583ff;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 3px;
}

.Courses {
    width: 30px;
    position: relative;
    bottom: 92px;
    left: 200px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #939bb4;
}

.Courses:hover {
    color: #7583ff;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #a8b1ff;
    text-decoration-thickness: 3px;
}

.studyModule {
    width: 100%;
    height: 33.3%;
    border-radius: .5rem;
    color: #D9D9D9;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../images/wdocument.png);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: center left 13px;
}

.Papka {
    width: 100%;
    height: 33.3%;
    border-radius: .5rem;
    color: #D9D9D9;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    text-indent: -70px;
    background-image: url(../images/wfolder.png);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: center left 13px;
}

.Kurs {
    width: 100%;
    height: 33.3%;
    border-radius: .5rem;
    color: #D9D9D9;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    text-indent: -70px;
    background-image: url(../images/wpeople.png);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: center left 13px;
}

.Kurs:hover, .Papka:hover, .studyModule:hover {
    background-color: #282e3e;
}

.recent-modules {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    left: 330px;
    top: 130px;
    font-family: "Gill Sans", sans-serif;
}

.recent-containers {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    left: 330px;
    top: 180px;
    width:1370px;
    height:230px;
    background-color:cornflowerblue;
    border-radius:.6rem;
}

.try-funct-label {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    left: 330px;
    top: 480px;
    font-family: "Gill Sans", sans-serif;
}

.container1 {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    width: 420px;
    height:330px;
    border-radius: .9rem;
    bottom:-350px;
}

.container2 {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    width: 420px;
    height: 330px;
    border-radius: .9rem;
    left: 470px;
    bottom: -350px;
}

.container3 {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    width: 420px;
    height: 330px;
    border-radius: .9rem;
    left: 950px;
    bottom: -350px;
}

.info {
    position: relative;
    width: 99.9%;
    height: 45%;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: .9rem;
    top: 55%;
}

.image1 {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: mediumpurple;
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    bottom: 148px;
    cursor:pointer;
    background-image:url(../images/paint1.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.image2 {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: mediumpurple;
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    bottom: 148px;
    cursor: pointer;
    background-image: url(../images/paint2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image3 {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: mediumpurple;
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    bottom: 148px;
    cursor: pointer;
    background-image: url(../images/paint3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    color: #0a092d;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 21px;
    left: 30px;
}

.about {
    color: black;
    font-size: 16.5px;
    font-weight: 500;
    position: relative;
    top: 25px;
    left: 30px;
}

.choose-books {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    left: 330px;
    top: 950px;
    font-family: "Gill Sans", sans-serif;
}

.kotik {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.div-item2 {
    position: relative;
    width: 400px;
    height: 230px;
    background-color: #2e3856;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    border-radius: .9rem;
    right: 110px;
}

.jb1 {
    width: 50px;
    height: 50px;
    position: relative;
    right: 130px;
    bottom: 185px;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #2719BD;
    background-color: cornflowerblue;
    background-image: url(../images/sleft.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center left 10px;
}

.jb1:hover, .jb2:hover {
        background-color: #5178BF;
    }

.jb2 {
    width: 50px;
    height: 50px;
    position: relative;
    left: 1320px;
    bottom: 185px;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #2719BD;
    background-color: cornflowerblue;
    background-image: url(../images/sright.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.div-image {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/hn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-image1 {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/mathb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-image2 {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/phb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-image3 {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/naspbook.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-image4 {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/ghy.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.div-image5 {
    position: absolute;
    width: 130px;
    height: 185px;
    left: 18px;
    top: 23px;
    border-radius: .9rem;
    background-image: url(../images/chb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.books-name {
    position: absolute;
    width:235px;
    height:70px;
    top: 25px;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    font-weight:600;
    left: 155px;

}

.div-about {
    position: absolute;
    top: 110px;
    font-family: "Gill Sans", sans-serif;
    font-size: 13px;
    font-weight: 100;
    left:155px;
}

.video-instructions {
    position: absolute;
    color: white;
    font-size: 22px;
    font-weight: 600;
    left: 330px;
    top: 1300px;
    font-family: "Gill Sans", sans-serif;
}

.video-continer1 {
    width: 400px;
    height: 300px;
    border-radius: .9rem;
    position: absolute;
    bottom: 210px;
    left: 330px;
    box-shadow: 3px 2px 30px 2px #888888;
}

.video-continer2 {
    width: 400px;
    height: 300px;
    border-radius: .9rem;
    position: absolute;
    bottom: 210px;
    left: 820px;
    box-shadow: 3px 2px 30px 2px #888888;
}

.video-continer3 {
    width: 400px;
    height: 300px;
    border-radius: .9rem;
    position: absolute;
    bottom: 210px;
    box-shadow: 3px 2px 20px 2px #888888;
    left: 1310px;
}


.video-info {
    position: relative;
    width: 100%;
    height: 35%;
    background-color: #2e3856;
    border-bottom-right-radius: .9rem;
    border-bottom-left-radius: .9rem;
    font-size:19px;

}

.preview {
    border-top-right-radius: .9rem;
    border-top-left-radius: .9rem;
    position: relative;
    height: 65%;
    width: 100%;
    background-image: url(../images/el1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.preview1 {
    border-top-right-radius: .9rem;
    border-top-left-radius: .9rem;
    position: relative;
    height: 65%;
    width: 100%;
    background-image: url(../images/mathls.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.preview2 {
    border-top-right-radius: .9rem;
    border-top-left-radius: .9rem;
    position: relative;
    height: 65%;
    width: 100%;
    background-image: url(../images/cpr.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.video-info:hover {
    background-color: #2C3552;
}

.pYt {
    position:relative;
    top:15px;
    left:18px;
}