html {
    scrollbar-width: thin;
    scrollbar-color: cornflowerblue white;
    height: 100%; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;  
}
header {
    border-bottom: 2px solid white;
    background-color: #0A082D;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 90px;
}
.top-page {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.top-page-card {
    position: absolute;
    top: 70px;
    left: 0;
}
.top-page-library-modules {
    position: relative;
    top: 100px;
}
.logo {
    position: absolute;
}
.logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 32px;
}
.menu-logo {
    position: relative;
    background-image: url(../images/l1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 120px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    left: 25%;
}
.nav-links {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 16%;
    z-index: 999;
    justify-content: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
     margin: 0 15px;
}
.search-bar {
    position: absolute;
    width: 35%;
    justify-content: center;
    z-index: 999;
}
.search-bar input {
    width: 100%;
    padding: 8px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #2E3756;
    color: #fff;
    padding: 10px;
    text-align: center
}
.search-bar input::placeholder {
     color: white;
     font-weight: bold;
     opacity: 0.6;
     text-align: center
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn7 {
    position: absolute;
    padding: 10px 20px;
    background: linear-gradient(135deg, #4A3D9D, #9575CD);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 17px;
    border-radius: 10px;
    left: 70%;
    z-index: 999;
}
.popup7 {
    display: none;
    position: absolute;
    width: 220px;
    height: 150px;
    background-color: #0A082D;
    bottom: -140px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid white;
}
.create-button {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: #0A082D;
    border-radius: 10px;
}
.create-button-photo1 {
    background-image: url(../images/wdocument.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 16px;
    background-position-y: 10px;
}
.create-button-photo2 {
    background-image: url(../images/wfolder.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 16px;
    background-position-y: 10px;
}
.create-button-photo3 {
    background-image: url(../images/wpeople.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 16px;
    background-position-y: 10px;
}
.create-button:hover {
    background-color: #090729;
}
a {
    text-decoration: none;
    color: inherit;
}
.logb {
    position: absolute;
    left: 75%;
    top: 13px;
}
.mobile-menu-button {
    display: none; 
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: white; 
    position: absolute;
    left: 93%;
    justify-content: center;
}
.mobile-menu {
    display: none; 
    position: absolute;
    width: 100%;
    background-color: #2E3756;
    color: white;
    flex-direction: column;
    z-index: 1000;
    border-left: 2px solid lightgray;
}
.mobile-menu a {
    display: block;
    padding: 10px;
    padding-left: 55px;
    text-align: start;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed white;
    height: 65px;
}
.mobile-menu a:hover {
    background-color: #29314D;
 }
.logo2 {
    position: absolute;
    background-image: url(../images/l2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    visibility: hidden;
    top: 5%;
}
.only-profile {
    position: absolute;
    visibility: hidden;
    border: 1px solid white;
    border-radius: 10px;
}
#show-languages {
    background-color: #0D6EFC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    background-image: url(../images/lng.png);
    background-size:90%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top:200px;
    left:255px;
    border:none;
}
.language-selector1 {
    position: absolute;
    top: 140px;
    color: white;
    border-radius: 10px;
    z-index: 1000;
    left:120px;
}
.dsfg {
    background-color:red;
    border:10px solid red;
    margin-top:30px;
    position:absolute;
    top:100%;

}
@media only screen and (min-width: 1024px) {
    /*___________________________Header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: fixed;
        width: 100%;
    }
    .logb,
    .language-selector {
        display: none;
    }
    .logo {
        left: 1%;
    }
    .only-profile {
        visibility: visible;
        left: 90%;
    }
    .search-bar {
        position: absolute; 
        left: 51%;
        transform: translateX(-50%); 
        width: 33%; 
    }
    .nav-links {
        font-size: 16px;
    }
    .popup7 {
        left:70%;
    }
    /*___________________________Home*/
    .xbox-1 {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-info {
        position: relative;
        left: -6px;
        width: 33.33%;
        height: 100%;
        background-color: #83C8F2;
        border-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 10px;
    }
    .box-info-container {
        display: flex;
        width: 70%;
        height: 330px;
    }
    .name {
        color: white;
        text-align: center;
        position: relative;
        font-size: 20px;
        top: 15px;
        width: 100%;
        background-color: steelblue; /*  dodgerblue  steelblue*/
    }
    .info {
        color: white;
        text-align: center;
        position: relative;
        font-size: 18px;
        width: 100%;
        top: 12%;
    }
    .xbox-2 {
        width: 100%;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo1 {
        background-image: url(../images/newphoto4.jpg);
    }
    .photo2 {
        background-image: url(../images/newphoto5.png);
    }
    .photo3 {
        background-image: url(../images/newphoto6.png);
    }
    .xbox-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-container {
        display: flex;
        justify-content:space-around

    }
    .box {
        width: 32.5%;
        height: 220px;
        background-color: #2E3756;
        border-radius: 10px;
        transition: all 0.3s ease;
        border-bottom: 2px solid aqua;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .hidden {
        display: none;
    }
    .xbox-4 {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video-info-box {
        position: relative;
        width: 33%;
        background-color:#2E3756;
        border-radius: 10px;
    }
    .box-video-info-container {
        display: flex;
        height: 100%;
        position: relative;
        justify-content: space-between;
    }
    .xbox-5 {
        width: 100%;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nameless {
        position: relative;
        left: 3%;
        color: white;
        font-size: 18px;
        top: 5%;
        width: 95%;
    }
    .xbox-6 {
        display: none;
    }
    .ph-ct {
        width: 100%;
        height: 250px;
    }
    .adapted-text {
        color: white;
        padding-left: 15%;
        margin-top: 55px;
    }
    /*___________________________________ Login*/
    .fe {
        display: none;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   /* ___________________________Header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 10px 20px;
        position: fixed;
        width: 100%;
    }
    .logo,
    .language-selector,
    .logb {
        display: none;
    }
    .logo2 {
        visibility: visible;
        left: -10px;
    }
    .nav-links {
        font-size: 15px;
        left: 10%;
    }
    .search-bar {
        left: 35%;
        width: 43%;
    }
    .btn7 {
        left: 80%;
        justify-content: center;
    }
    .only-profile {
        visibility: visible;
        left: 89%;
    }
    .popup7 {
        left: 80%;
        width: 20%;
        font-size: 13.9px;
        text-indent: -10px;
    }
    /*___________________________Home*/
    .xbox-1 {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .xbox-2 {
        display: flex;
        height: 800px;
        justify-content: center;
    }
    .box-info {
        position: relative;
        width: 100%;
        height: 33%;
        background-color: #83C8F2;
        border-radius: 10px;
        margin-top: 4px;
        top:-4px;
    }
    .box-info-container {
        width: 70%;
        height: 100%;
    }
    .name {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 23px;
        top: 65%;
        width: 100%;
        background-color: steelblue;
    }
    .info {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 19px;
        width: 100%;
        top: 85%;
    }
    .photo1 {
        background-image: url(../images/newphoto4.jpg);
    }
    .photo2 {
        background-image: url(../images/newphoto2.png);
    }
    .photo3 {
        background-image: url(../images/newphoto3.png);
    }
    .xbox-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .books-container {
        margin-top: 25px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .box {
        width: calc(50% - 5px);
        height: 220px;
        background-color: #2E3756;
        border-radius: 10px;
        transition: all 0.3s ease;
        position: relative;
        margin-top: 10px;
        bottom:17px;
    }
    .hidden {
        display: inline-block;
    }
    .right-btn,
    .left-btn,
    .xbox-4,
    .xbox-5 {
        display: none;
    }
    .xbox-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 0 100px;
    }
    .video-info-box {
        height: 100%;
        margin-top: 10px;
        border-radius: 10px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .ph-ct {
        width: 100%;
        height: 260px; 
    }
    .nameless {
        padding: 8px;
        color: #fff;
        text-align: center;
    }
    .adapted-text {
        color: white;
        padding-left: 10%;
        margin-top: 55px;
    }

/*    _______________________Login*/
    .fe {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    /*_________________________Header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 10px 20px;
        position: fixed;
        width: 100%;
    }
    .nav-links,
    .btn7,
    .logb,
    .language-selector {
        display: none;
    }
    .popup7 {
        visibility: hidden;
        display:none;

    }
    .search-bar {
        left: 32%;
        width: 50%;
    }
    .mobile-menu-button {
        display: block;
    }
    .logo a {
        font-size: 170%
    }
    .mobile-menu {
        display: none;
        position: fixed;
        width: 50%;
        right: 0;
        top: 90px;
        height: 100vh;
        overflow-y: auto;
        z-index: 1000;
    }
    .mobile-menu.active {
        display: flex;
    }
    /*___________________________Home*/
    .xbox-1 {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .xbox-2 {
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
    }
    .box-info-container {
        width: 70%;
        height: 100%;
    }
    .box-info {
        position: relative;
        justify-content: center;
        width: 100%;
        height: 33%;
        background-color: #75B3D9;
        border-radius: 10px;
        margin-top: 3.3px;
    }
    .name {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 21px;
        top: 65%;
        width: 100%;
        background-color: steelblue;
    }
    .info {
        color: white;
        text-align: center;
        position: absolute;
        font-size: 16px;
        width: 100%;
        top: 82%;
    }
    .xbox-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 100%;
        height: 220px;
        background-color: #2E3756;
        border-radius: 10px;
        transition: all 0.3s ease;
        position: relative;
        margin-top: 10px;
    }
    .box-container {
        width: 100%;
    }
    .hidden,
    .xbox-4,
    .xbox-5 {
        display: none;
    }
    .photo1 {
        background-image: url(../images/newphoto4.jpg);
    }
    .photo2 {
        background-image: url(../images/newphoto5.png);
    }
    .photo3 {
        background-image: url(../images/newphoto6.png);
    }
    .xbox-6 {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px; 
        padding: 0 30px; 
    }
    .video-info-box {
        height: 100%;
        margin-top: 10px;
        border-radius: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align:center;
    }
    .ph-ct {
        width: 100%;
        height: 265px;
    }
    .adapted-text {
        color: white;
        margin: 55px auto 0; /* Встановлюємо верхній відступ 55px, а зліва і справа автоматичні відступи */
        font-size: 28px;
        text-align: center; /* Центрування тексту */
        background-color:steelblue;
        width: 50%; /* Ширина 50% від контейнера */
        border-radius: 1rem;
    }
    .nameless {
        position: relative;
        left: 3%;
        font-size: 23px;
        color: white;
        top: 3%;
        font-size: 20px;
        width: 95%;
    }
    /*    ______________________Login*/
    .bt,
    .right-side{
        display:none;
    }
    .right-side1 {
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    /*    ______________________________Header*/
    .logo {
        font-size: 14px;
        left: 5px;
    }
    .search-bar {
        left: 37%;
    }
    .mobile-menu-button {
        left: 90%;
    }
    /*    ______________________________Home*/
    .xbox-6 {
        display: grid;  
        grid-template-columns: repeat(2, 1fr);  
        gap: 10px;  
}
    .video-info-box {
        width: 100%;
        height: 100%;
    }
    .ph-ct {
        width: 100%;
        height: 130px;
    }
    .nameless {
        font-size: 13px;
    }
}
.kl {
    position: relative;
    left: -240px;
}
.der {
    position: absolute;
    background-image: none;
    top: 550px;
    color: #FF4C4C !important;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid red !important;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 50%; /* Вирівнює по центру */
    transform: translateX(-50%); /* Центрує елемент */
}
.der:hover {
    color:red!important;
    opacity:1;
}
.der1 {
    position: absolute;
    background-image: none !important;
    color: #FF4C4C !important;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid red;
    background-color: transparent;
    height: 50px;
    padding: 30px;
    display: flex;  
    justify-content: center;  
    align-items: center; 
    text-align: center;
    top: 210px;
}
.mobile-language-selector {
    position: absolute;
    top: 515px;
    left:7%;
}
/*__________________________Нещодавні модулі*/
.recent-modules {
    display: flex;
    width: 70%;
    height: 285px;
    background-color: cornflowerblue;
    justify-content: space-between;
    border-radius: 10px;
}
/*__________________________*/
.photo1 {
    width: 100%;
    height: 57%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo2 {
    width: 100%;
    height: 57%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo3 {
    width: 100%;
    height: 57%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
/*__________________________*/
.books-container {
    position: relative;
    width: 67%;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    z-index: 10;
}
.left-btn {
    left: -80px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.right-btn {
    right: -70px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.nav-btn:disabled {
    display: none;
}
.book-photo1 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/hn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image-link {
    display: block;
    width: 32%;
    height: 168px;
}
.book-photo2 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/mathb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.book-photo3 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/phb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.book-photo4 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/ghy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.book-photo5 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/naspbook.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.book-photo6 {
    position: relative;
    width: 100%;
    height: 168px;
    top: 25px;
    left: 15%;
    border-radius: 10px;
    background-image: url(../images/chemistry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.book-name {
    position: relative;
    width: 60%;
    bottom: 65%;
    left: 40%;
    color: #fff;
    font-weight: bold;
}
.book-info {
    position: relative;
    bottom: 125px;
    left: 40%;
    color: #fff;
    font-size: 12px;
    width: 60%;
}
/*__________________________*/
.video-lessons-column1 {
    width: 70%;
    height: 100%;
}
.photo7 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/juKd26qkNAw/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photo8 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/gfkTfcpWqAY/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photo9 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/NybHckSEQBI/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video-lessons-column2 {
    margin-top:10px;
    color: #fff;
    width: 70%;
    height: 100%;
}
.photo10 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/AhAxLiGC7Pc/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photo11 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/Sk6YQynZ1h8/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photo12 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('https://img.youtube.com/vi/5-AoFVwbWew/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*__________________________*/
.custom-background {
    background-color: #0A082D;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.tabs {
    display: flex;
    margin-top: 130px;
    max-width: 100%;
    position: relative;
}
.tab {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background-color: transparent
}
.tab.active {
    background-color: cornflowerblue;
    color: white;
}
.tab-line {
    border: none;
    background-color: white;
    margin-top: 1px;
    width: 100%;
    transition: width 0.3s ease, background-color 0.3s ease;
}
.tab.active + .tab-line {
    width: 100px;
    background-color: cornflowerblue;
}
.s1 {
    position: absolute;
    width: 100%;
    max-width: 31%;
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #2E3756;
    color: white;
}
.s1::placeholder {
    color: white;
    opacity: 0.8;
}
.s1:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}
.lupa {
    padding: 21px;
    position: relative;
    left: 32%;
    background-image: url("../images/nwlupa.png");
    background-position: center;
    background-size: 90%;
    border-radius: 20%;
}
/*__________________________*/
#register {
    position: absolute;
    left: 100px;
    border: 1px solid white;
    padding: 10px;
    padding-left: 10px;
    background-color: orange;
    font-weight: bold;
    color: #fff;
    border-radius: 7px;
}
#login {
    border: 1px solid white;
    position: absolute;
    left: 230px;
    padding: 10px;
    padding-left: 20px;
    color: #fff;
    border-radius: 7px;
    width: 90px;
}
/*_________________________________*/
.create-title {
    position: relative;
    color: white;
    top: 70px;
    font-weight: bold;
}
.form-group {
    position: relative;
    top: 100px;
    color: white;
    margin-bottom: 30px;
}
#Name {
    background-color: #0A082D;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0;
    width: 30%;
}
#Description {
    background-color: #0A082D;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0;
    width: 30%;
}
#Name:focus {
    border-bottom: 2px solid cornflowerblue;
    box-shadow: none;
}
#Description:focus {
    border-bottom: 2px solid cornflowerblue;
    box-shadow: none;
}
/*_________________________________*/
.full-button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-align: start;
    padding-left: 50px;
}
/*_________________________________*/
.profile-button {
    border: 1px solid white;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: lightgray;
}
#logout {
    width: 80px;
    color: white;
    text-align: start;
    position: relative;
    left: 20px;
    background-image: url(../images/leave.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 55px;
    background-position-y: 9px;
}
.profile-logout {
    position: relative;
    left: 250px;
    display: flex;
    flex-direction: row;
}
.reg-log {
    position: relative;
    left: 140px;
}
/*_________________________________*/
.home-footer {
    border-top: 1px solid white;
    position: absolute;
    top: 99%;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    z-index: 999;
}
/*_________________________________*/
.recent-library-module {
    margin-top: 20px;
    height: 93px;
    border-radius: 6px;
    background-color: #2E3756;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding-left: 30px;
    padding-top: 20px;
}
.recent-library-folders {
    margin-top: 20px;
    height: 93px;
    border-radius: 6px;
    background-color: #2E3756;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding-left: 30px;
    padding-top: 21px;
}
.recent-library-courses {
    margin-top: 20px;
    height: 93px;
    border-radius: 6px;
    background-color: #2E3756;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding-left: 30px;
    padding-top: 21px;
}
.recent-description {
    font-size: 12px;
    font-weight: 400;
    color: lightgray;
}
/*_________________________________*/
#profile-form {
    position: relative;
    left: 30px;
    width: 250px;
}
#email-form {
    position: relative;
    left: 30px;
    width: 250px;
    bottom: 16px;
}
#change-password-form {
    position: relative;
    left: 30px;
    width: 250px;
}
.profile-position {
    position: relative;
    top: 70px;
}
.authentication {
    color: white;
    font-size: 27px;
}
.authentication-smaller {
    color: white;
    font-size: 20px;
    margin-bottom: 55px;
}
.auth-btn {
    height: 65px;
    text-align: center;
    padding: 17px;
    font-size: 19px;
}
/*_________________________________*/
.log-forma {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
    top: 120px;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border:1px solid white;
    backdrop-filter: blur(10px);  
}
.log-label {
    color:white;
    font-size:3rem;
    font-weight:bold;
    display:flex;
    justify-content:center;
    position:relative;
    top:10px;
}
.log-hr  {
    background-color:white;
    position:relative;
    top:2%;
    width:100%;
    border:5px solid white;
    opacity:1;
}
.maket {
    display:flex;
    justify-content:center;
    width:100%;
    position:relative;
    top:5%;
    margin-left:0;
    align-items:center;
    color:white;
}
.gtr {
   margin-top:15px;
}
.frt {
    background-color:transparent;
    border-radius:2rem;
    color:white!important;
}
.frt:focus {
    background-color:transparent;

}
.right-side {
    background: linear-gradient(45deg, #330A6A, #4E25A9, #6B3AD2);
    height: 80%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 98px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.right-side1 {
    background: linear-gradient(45deg, #330A6A, #4E25A9, #6B3AD2);
    height: 83.5%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 85px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.wb {
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 13%;
    font-family: Calibri;
}
.inf {
    color: white;
    font-size: 23px;
    width: 83%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;  
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: Calibri;
    padding: 20px;  
    text-align:center;
}
.bt {
    width: 20%;
    height: auto;
    background-color: #6536CA;
    position: absolute;
    top: 75%;
    left: 76%;
    transform: translate(-50%, -50%);
    font-family: Calibri;
    padding: 5px;
    border-radius: 2rem;
}
.bt:hover {
    background-color: #6516CA;
}
.other-log {
    color:white;
    display:flex;
    justify-content:center;
    position:relative;
    font-size:18px;
    top:7px;
    text-align:center;
}
.other-log a:hover  {
    color:white!important;
}
.fe {
    width: 37%;
    position: absolute;
    top: 190px;
    right: 13px;
}
/*_________________________________*/
.create-module-button {
    position: absolute;
    top: 130px;
    left: 690px;
    width: 150px;
    height: 60px;
}
.counter {
    position: relative;
    top: 177px;
    left: 25px;
    color: white;
    font-weight: bold;
    z-index: 1;
}
.items {
    position: relative;
    top: 20px;
    text-align: center; 
    font-size: 20px; 
    color: white; 
}
.card-container {
    perspective: 1000px;
    width: 800px;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    top: 215px;
    left: 100px;
}
.card {
    width: 100%;
    height: 400px; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    border: none;
    background-color: #0A082D;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px; 
}
.card.flipped {
    transform: rotateX(180deg);
}
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
}
.card-front {
    background-color: #2E3756;
}
.card-back {
    background-color: #2E3756;
    transform: rotateX(180deg);
}
.navigation-buttons {
    display: flex;
    gap: 10px;
    position: relative;
    top: 215px;
    left: 300px;
}
.navigation-buttons button {
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid lightgray;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-size: 25px;
        width: 100px;
        border-radius: 100px;
        margin-left: 90px;
        position: relative;
        right: 40px;
        top: -5px;
}
.navigation-buttons button:disabled {
     background-color: #2E3756;
     cursor: auto;
}
.card-index {
    font-size: 1.2em;
}
#cardCounter {
    position: relative;
    top: 165px;
    left: 480px;
    color: white;
    font-size: 20px;
}
/*_________________________________________________*/
.edit-card {
    position: relative;
    bottom: 360px;
    left: 930px;
    width: 60px;
    height: 60px;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    justify-content: center;
    padding-top: 8px;
    padding-left: 20px;
    font-weight: bold;
    background-image: url(../images/pencil.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position-x: center;
    background-position-y: center;
}
.delete-card {
    position: relative;
    bottom: -215px;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    justify-content: center;
    padding-top: 8px;
    padding-left: 20px;
    font-weight: bold;
    background-image: url(../images/delete1.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position-x: center;
    background-position-y: center;
}
.classic-game-button {
    width: 31.5%;
    height: 60px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: 5px;
}
.random-game-button {
    width: 31.5%;
    height: 60px;
    background-color: #1E90FF;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: 173px;
    background-position-y: 11.5px;
}
.shuffle-btn{
    margin-top:10px;
    margin-left:20px;
}
.test-game-button {
    width: 31.5%;
    height: 60px;
    background-color: #FF8C00;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
    margin-right: 10px;
    background-size: 14%;
    background-repeat: no-repeat;
    background-position-x: 162px;
    background-position-y: 11px;
}


.exam-game-button {
    width: 32%;
    height: 60px;
    background-color: #0a2e3f;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    background-image: url(../images/exam.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: 5px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
    margin-right: 10px;
}
.game-container {
    width: 62%;
    position: relative;
    top: -430px;
    left: 100px;
    display:flex;
    justify-content:space-between;
}
.current-mode {
    width: 170px;
    position: relative;
    top: -585px;
    left: -80px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: end
}

.answer-input {
    width: 60%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #4682B4;
    font-size: 18px;
    color: #333; 
    background-color: #F0F8FF; 
    margin-right: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}


    .answer-input:focus {
        outline: none;
        border-color: #32CD32; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

.exit-exam-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 36px;
    cursor: pointer;
    z-index: 1000; 
    margin-top:200px;
}

    .exit-exam-btn:hover {
        color: red; /* Колір хрестика при наведенні */
    }

/* Основна кнопка для початку тесту */
.start-test-button {
    width: 31%;
    height: 60px;
    background-color: #FF6347; 
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    background-image: url(../images/start-test.png); 
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 160px;
    background-position-y: 5px;
}


.submit-answer-button {
    width: 32%;
    height: 60px;
    background-color: #4682B4;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
    margin-right: 10px;
}


.next-question-button {
    width: 32%;
    height: 60px;
    background-color: #32CD32;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
    margin-right: 10px;
}

.home-menu-image {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 25px;
    top: 131px;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.library-menu-image {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 21px;
    top: 194px;
    background-image: url(../images/library.png);
    background-repeat: no-repeat;
    background-size: 110%;
}
.plimage1 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 23px;
    top: 264px;
    background-image: url(../images/nplusik.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.plimage2 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 23px;
    top: 330px;
    background-image: url(../images/nplusik.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.plimage3 {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 23px;
    top: 395px;
    background-image: url(../images/nplusik.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.primage {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 23px;
    top: 460px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: 90%;
}
.logout-btn {
    position: absolute;
    top: 520px;
}

















