<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyLearn.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-none box-shadow mb-3">
            <div class="x">
                <input class="search-area" type="search" placeholder="Ask something in EasyLearn" />
            </div>

            <div class="x1">
                <input class="add-button" type="button"/>
            </div>

            <div class="x3">
                <input class="log-in" type="button" value="Log in"> 
            </div>

            <div class="x4">
                <input class="register" type="button" value="Registration" />
            </div>

            <div class="x5">
            </div>

            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Index">EasyLearn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link1 text-light">Your Library</a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="openLibrary">
        <hr />
        <hr class="fullHr">
        <div class="checkModels">View all modules</div>
        <div class="EdM">Educational modules</div>
        <div class="folders">Folders</div>
        <div class="Courses">Courses</div>
    </div>

    <div class="openAddButton">
        <div class="studyModule"> Educational module </div>
        <div class="Papka">Folder</div>
        <div class="Kurs">Course</div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EasyLearn - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>