<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EasyLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyLearn.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="logo">EasyLearn</div>

        <nav>
            <ul class="nav-list">

                <li class="nav-item x">
                    <a class="nav-link" asp-area="" asp-page="/Home/Index">Home</a>
                </li>
                <li class="nav-item x">
                    <a class="nav-link" asp-area="" asp-page="/YourLibrary/Index">Your library</a>
                </li>
                <div class="brain"></div>


                <input type="text" class="search-input" placeholder="Search...">

                <div class="popup-container">
                    <input type="checkbox" id="popup-toggle" class="popup-toggle">
                    <label for="popup-toggle" class="popup-button">+</label>
                    <div class="popup">
                        <div class="popup-tab">Навчальний модуль</div>
                        <div class="popup-tab">Папка</div>
                        <div class="popup-tab">Курс</div>
                    </div>
                </div>

                <li class="nav-item">
                    <input type="button" class="LogInButton" value="Log In" />
                </li>
                <li class="nav-item">
                    <input type="button" class="RegistrationButton" value="Registration" />
                </li>



            </ul>
        </nav>

       

      

    </header>












    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EasyLearn - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@* <body>

    <header>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-none box-shadow mb-3">
            <div class="x"><input class="search-area" type="search" placeholder="Ask something in EasyLearn" /> </div>
            <div class="x1"><input class="add-button" type="button"/></div>
            <div class="x3"><input class="log-in" type="button" value="Log in" id="openModal"></div>
            <div class="x4"><input class="register" type="button" value="Registration" id="openModal1"/></div>
            <div class="x5"></div>
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Index">EasyLearn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1 text-light" id="toggleButtonik">Your Library</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Add/CreateEducationModule">Add</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="openLibrary">
        <hr />
        <hr class="fullHr">
        <div class="checkModels">View all modules</div>
        <div class="EdM">Educational modules</div>
        <div class="folders">Folders</div>
        <div class="Courses">Courses</div>
    </div>

    <div class="openAddButton">
        <div class="studyModule">Educational module </div>
        <div class="Papka">Folder</div>
        <div class="Kurs">Course</div>
    </div>


    <div class="recent-modules">Recent</div>
    <div class="recent-containers"> </div>



    <div class="try-funct-label">Try these updated functions

        <div class="container1">
            <div class="info" style="background-color:#F6E6FF;">
                <div class="name"> Advanced search </div>
                <div class="about">Find the flashcards you need to study any<br /> subject</div>
            </div>
            <div class="image1"></div>
        </div>

        <div class="container2">
            <div class="info" style="background-color:#E2FFDE;">
                <div class="name"> Learn something new! </div>
                <div class="about">
                    Improve your grades by learning new words
                </div>
            </div>
            <div class="image2"></div>
        </div>

        <div class="container3">
            <div class="info" style="background-color:#F8E6FF">
                <div class="name"> Be prepared for exams </div>
                <div class="about">Test yourself with study tips and advice</div>
            </div>
            <div class="image3"></div>
        </div>

    </div>
    <div class="choose-books">Popular textbooks


        <div class="kotik">


            <div class="div-set1" id="div-set-1">

                <a href="https://shop.dinternal-education.ua/product/high-note-3-students-book/" target="_blank">
                <div class="div-item2">
                    <div class="div-image">
                    </div>
                    <div class="books-name">Textbook High Note 3 Student's Book</div>
                    <div class="div-about">Year: 2020<br />Pages: 200<br />Language: English<br />Level: B2<br />Episode: Pearson Education Ltd
                    </div>
                </div>
                </a>

                <a href="https://www.yakaboo.ua/ua/fundamental-mathematics-for-epidemiology-study.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9O-fMUDJ-J6jhuD8PGVAsMabtAMzkCPoIAFjM3DuGlnH4XFtjwK4_kaAk89EALw_wcB" target="_blank">
                <div class="div-item2">
                        <div class="div-image1">
                        </div>
                    <div class="books-name">Textbook Fundamental Mathematics For Epidemiology Study</div>
                    <div class="div-about">
                        Year: 2018<br />Pages: 352<br />Language: English<br />Level: Advanced <br />Episode: Wiley. John Wiley & Sons, LTD
                    </div>
                </div>
                </a>

                <a href="https://www.yakaboo.ua/ua/basic-physics-a-self-teaching-guide.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9On1souB-9RU6-lceN5TJi4hubh7l5hUnNWOss2IThhVD8vTGwDuU4aAk9gEALw_wcB" target="_blank">
                <div class="div-item2">
                        <div class="div-image2">
                        </div>
                    <div class="books-name">Textbook Fundamental Mathematics For Epidemiology Study</div>
                    <div class="div-about">
                        Year: 2020<br />Pages: 138<br />Language: English<br />Level: Advanced <br />Episode: Jones and Bartlett Publishers
                    </div>
                </div>
            </div>
            </a>


            <div class="div-set1" id="div-set-2" style="display: none;">

                <a href="https://balka-book.com/programmirovanie-v-net-401/architectingaspnetcoreapplicationsthirdeditionanatypicaldesignpatternsguidefornet8c12andbeyond3rdededition-277861?utm_source=google&utm_medium=cpc&utm_campaign=18680074526&utm_content=&utm_term=&gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9M2AE-FoBxvF-Tl0aPvbw8VpDvYNZlhoGRdGjhta2BvI2DTx_tUGjUaAgElEALw_wcB&lang=ua" target="_blank">
                <div class="div-item2">
                        <div class="div-image3">
                        </div>
                    <div class="books-name">Architecting ASP.NET Core Applications - Third Edition: Guide for .NET 8, C#</div>
                    <div class="div-about">
                        Year: 2024<br />Pages: 806<br />Language: English<br />Level: Advanced <br />Episode: Packt Publishing
                    </div>
                </div>
                </a>

                <a href="https://www.yakaboo.ua/ua/introducing-physical-geography.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9OdQjX9QftL93bYNJagniShnN3VRsMn5S3mpHVIYhW6LrAJMgU8uQkaArS-EALw_wcB" target="_blank">
                <div class="div-item2">
                        <div class="div-image4">
                        </div>
                    <div class="books-name">Introducing Physical Geography</div>
                    <div class="div-about">
                        Year: 2013<br />Pages: 672<br />Language: English<br />Level: Advanced <br />Episode: Wiley. John Wiley & Sons, LTD
                    </div>
                </div>
                </a>

                <a href="https://www.bloomsbury.com/uk/chemistry-9781137610355/" target="_blank">
                <div class="div-item2">
                        <div class="div-image5">
                        </div>
                    <div class="books-name">Fundamentals of Chemistry. Chemistry of Nanomaterials: Applications </div>
                    <div class="div-about">
                        Year: 2018<br />Pages: 171<br />Language: English<br />Level: Standart <br />Episode: Bloomsbury Foundations Series
                    </div>
                </div>
            </div>
            </a>


        </div>


        <button class="jb1"id="prev-btn"> </button>
        <button class="jb2" id="next-btn"></button>



    </div>

    <div class="video-instructions"> Video lessons</div>


    <a href="https://www.youtube.com/watch?v=juKd26qkNAw&ab_channel=LearnEnglishwithEnglishClass101.com" target="_blank">
        <div class="video-continer1">
            <div class="preview"></div>
                <div class="video-info"><p class="pYt">Learn English in 30 Minutes - ALL the English Basics You Need</p></div>
        </div>
        </a>

    <a href="https://www.youtube.com/watch?v=NybHckSEQBI&t=375s&ab_channel=mathantics" target="_blank">
        <div class="video-continer2">
            <div class="preview1"></div>
            <div class="video-info">
                <p class="pYt">
                    Algebra Basics: What Is Algebra? <br />Math Antics
                </p>
            </div>
        </div>
    </a>

    <a href="https://www.youtube.com/watch?v=gfkTfcpWqAY&ab_channel=ProgrammingwithMosh" target="_blank">
        <div class="video-continer3">
            <div class="preview2"></div>
            <div class="video-info">
                <p class="pYt">
                    C# Tutorial For Beginners - Learn C# <br /> Basics in 1 Hour
                </p>
            </div>
        </div>
    </a>
       

    <div class="crabik"></div>
    <div class="crocodilik"></div>
    <div class="drakon"></div>


    <div id="modalBackdrop" class="backdrop"></div>


    <div class="log-popup" id="popupModal">
        <div class="site-name">EasyLearn</div>
        <input type="text" class="login-input" placeholder="Enter your login" />

        <div class="password-container">
            <input type="password" class="password-input" id="passwordField" placeholder="Enter your password" />
            <button type="button" id="togglePassword"></button>
        </div>

        <input type="button" value="Submit" class="submit-button"/>
        <div class="login-label">Log in</div>
    </div>


    <div class="register-popup" id="popupModal1">

        <div class="site-name">EasyLearn</div>
        <input type="text" class="register-input" placeholder="Create your login" />

        <div class="password-container1">
            <input type="password" class="password-input1" id="passwordField1" placeholder="Create your password" />
            <button type="button" id="togglePassword1"></button>
        </div>

        <input type="button" value="Submit" class="submit-button1" />
        <div class="login-label">Registration</div>

        <div class="upload">
            <button type="button" class="btn-warning"> 
                <i class="fade fa-upload"></i>Upload file
                <input type="file" accept="image/png, image/jpeg" onchange="displayImage(event)"/>
            </button>
        </div>

        <div class="profile-image-reg"></div>
        <input type="button" class="del-image" onclick="deleteImage()" />
    </div>


























    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EasyLearn - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body> *@
