<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EasyLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyLearn.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a asp-area="" asp-page="/Home/Index">EasyLearn</a>
            </div>
            <nav class="nav-links">
                <a asp-area="" asp-page="/Home/Index">Home</a>
                <a asp-area="" asp-page="/YourLibrary/Index">Your Library</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="add-button">
                <a asp-area="" asp-page="/Add/Index">+</a>
            </div>
            <partial name="_SelectLanguagePartial" />
            <partial name="_LoginPartial" />
@* 
            <div class="auth-buttons">
                <button class="login">Log In</button>
                <button class="registration">Registration</button>
            </div> *@
            <div class="menu-toggle" id="menu-toggle">
                ☰
            </div>
        </div>
    </header>
    <div class="mobile-menu" id="mobile-menu">
        <div class="close-menu" id="close-menu">&times;</div>
        <div class="mobile-menu-content">
            <a asp-area="" asp-page="/Home/Index">Home</a>
            <a asp-area="" asp-page="/YourLibrary/Index">Your Library</a>
            <a asp-area="" asp-page="/Add/Index">+</a>
            <partial name="_SelectLanguagePartial" />
            <partial name="_LoginPartial" />

@*             <button class="login">Log In</button>
            <button class="registration">Registration</button> *@
        </div>
    </div>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*тут був footer(розміщений на інших сторінках)*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>