<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EasyLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EasyLearn.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a asp-area="" asp-page="/Home/Index">EasyLearn</a>
            </div>
            <nav class="nav-links">
                <a asp-area="" asp-page="/Home/Index" >Home</a>
                <a asp-area="" asp-page="/YourLibrary/Index">Your Library</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            
            <button class="btn7" onclick="togglePopup7()">+</button>

            <!-- Випливаюче вікно -->
            <div class="popup7" id="popup7">
                <div class="create-button">
                    <a class="full-button create-button-photo1" asp-area="" asp-page="/TrainingModules/Create">Модуль з картками</a>
                </div>

                <div class="create-button">
                    <a class="full-button create-button-photo2" asp-area="" asp-page="/Folders/Create">Папка</a>
                </div>

                <div class="create-button">
                    <a class="full-button create-button-photo3" asp-area="" asp-page="/Courses/Create">Курс</a>
                </div>
            </div>

                <partial name="_SelectLanguagePartial" />

                <partial name="_LoginPartial" />

            
        </div>



        


    </header>



   




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*тут був footer(розміщений на інших сторінках)*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>