@page
@model EasyLearn.Resources.Pages.Folders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<body class="custom-background">



            <h1 class="create-title">Your library</h1>

            <div class="tabs">
                <a asp-area="" asp-page="/TrainingModules/Index" class="tab" style="color:white">Training modules</a>
                <a asp-area="" asp-page="/Folders/Index" class="tab" style="color:cornflowerblue">Folders</a>
                <a asp-area="" asp-page="/Courses/Index" class="tab" style="color:white">Courses</a>
            </div>
            <hr class="tab-line">

            <input type="search" class="s1" placeholder="Search Folder" />

            <table class="table">
                <tbody>
                    @foreach (var item in Model.Folder)
                    {
                        <tr>
                            <td class="recent-library-folders">
                                @Html.DisplayFor(modelItem => item.Name)
                                <div class="recent-description">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </>

</body>

