@page
@model EasyLearn.Pages.Courses.CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CreateModel> Localize
@{
    ViewData["Title"] = "Create Course";
}
<style>
    body {
        background-color: #0A082D;
    }
</style>
<div class="top-page-library-modules">
<h1 class="create-title">@Localize["Create course"]</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">

        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" maxlength="30" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <small id="nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" maxlength="180" />
        <span asp-validation-for="Description" class="text-danger"></span>
        <small id="descriptionHelp" class="form-text text-muted"></small>

    </div>
    <div class="form-group">
        <input type="submit" value="@Localize["Create"]" class="btn btn-primary" />
    </div>
</form>
</div>



@section Scripts {
    <script>
        document.getElementById("Name").addEventListener("input", function () {
            const maxLength = 30;
            const currentLength = this.value.length;

            if (currentLength >= maxLength) {
                document.getElementById("nameHelp").innerText = "You have reached the maximum length (30 characters).";
            } else {
                document.getElementById("nameHelp").innerText = "";
            }
        });
        document.getElementById("Description").addEventListener("input", function () {
            const maxLength = 180;
            const currentLength = this.value.length;

            if (currentLength >= maxLength) {
                document.getElementById("descriptionHelp").innerText = "You have reached the maximum length (180 characters).";
            } else {
                document.getElementById("descriptionHelp").innerText = "";
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
