@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model EasyLearn.Pages.Home.IndexModel
@inject IStringLocalizer<IndexModel> Localize



@{
    ViewData["Title"] = "Index";
}


<h1>@Localize["Welcome to index"]</h1>

@* 
<div class="recent-modules">Recent</div>
<div class="recent-containers"> </div>



<div class="try-funct-label">
    Try these updated functions

    <div class="container1">
        <div class="info" style="background-color:#F6E6FF;">
            <div class="name"> Advanced search </div>
            <div class="about">Find the flashcards you need to study any<br /> subject</div>
        </div>
        <div class="image1"></div>
    </div>

    <div class="container2">
        <div class="info" style="background-color:#E2FFDE;">
            <div class="name"> Learn something new! </div>
            <div class="about">
                Improve your grades by learning new words
            </div>
        </div>
        <div class="image2"></div>
    </div>

    <div class="container3">
        <div class="info" style="background-color:#F8E6FF">
            <div class="name"> Be prepared for exams </div>
            <div class="about">Test yourself with study tips and advice</div>
        </div>
        <div class="image3"></div>
    </div>

</div>
<div class="choose-books">
    Popular textbooks


    <div class="kotik">


        <div class="div-set1" id="div-set-1">

            <a href="https://shop.dinternal-education.ua/product/high-note-3-students-book/" target="_blank">
                <div class="div-item2">
                    <div class="div-image">
                    </div>
                    <div class="books-name">Textbook High Note 3 Student's Book</div>
                    <div class="div-about">
                        Year: 2020<br />Pages: 200<br />Language: English<br />Level: B2<br />Episode: Pearson Education Ltd
                    </div>
                </div>
            </a>

            <a href="https://www.yakaboo.ua/ua/fundamental-mathematics-for-epidemiology-study.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9O-fMUDJ-J6jhuD8PGVAsMabtAMzkCPoIAFjM3DuGlnH4XFtjwK4_kaAk89EALw_wcB" target="_blank">
                <div class="div-item2">
                    <div class="div-image1">
                    </div>
                    <div class="books-name">Textbook Fundamental Mathematics For Epidemiology Study</div>
                    <div class="div-about">
                        Year: 2018<br />Pages: 352<br />Language: English<br />Level: Advanced <br />Episode: Wiley. John Wiley & Sons, LTD
                    </div>
                </div>
            </a>

            <a href="https://www.yakaboo.ua/ua/basic-physics-a-self-teaching-guide.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9On1souB-9RU6-lceN5TJi4hubh7l5hUnNWOss2IThhVD8vTGwDuU4aAk9gEALw_wcB" target="_blank">
                <div class="div-item2">
                    <div class="div-image2">
                    </div>
                    <div class="books-name">Textbook Fundamental Mathematics For Epidemiology Study</div>
                    <div class="div-about">
                        Year: 2020<br />Pages: 138<br />Language: English<br />Level: Advanced <br />Episode: Jones and Bartlett Publishers
                    </div>
                </div>
        </div>
        </a>


        <div class="div-set1" id="div-set-2" style="display: none;">

            <a href="https://balka-book.com/programmirovanie-v-net-401/architectingaspnetcoreapplicationsthirdeditionanatypicaldesignpatternsguidefornet8c12andbeyond3rdededition-277861?utm_source=google&utm_medium=cpc&utm_campaign=18680074526&utm_content=&utm_term=&gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9M2AE-FoBxvF-Tl0aPvbw8VpDvYNZlhoGRdGjhta2BvI2DTx_tUGjUaAgElEALw_wcB&lang=ua" target="_blank">
                <div class="div-item2">
                    <div class="div-image3">
                    </div>
                    <div class="books-name">Architecting ASP.NET Core Applications - Third Edition: Guide for .NET 8, C#</div>
                    <div class="div-about">
                        Year: 2024<br />Pages: 806<br />Language: English<br />Level: Advanced <br />Episode: Packt Publishing
                    </div>
                </div>
            </a>

            <a href="https://www.yakaboo.ua/ua/introducing-physical-geography.html?gad_source=1&gclid=Cj0KCQjwpNuyBhCuARIsANJqL9OdQjX9QftL93bYNJagniShnN3VRsMn5S3mpHVIYhW6LrAJMgU8uQkaArS-EALw_wcB" target="_blank">
                <div class="div-item2">
                    <div class="div-image4">
                    </div>
                    <div class="books-name">Introducing Physical Geography</div>
                    <div class="div-about">
                        Year: 2013<br />Pages: 672<br />Language: English<br />Level: Advanced <br />Episode: Wiley. John Wiley & Sons, LTD
                    </div>
                </div>
            </a>

            <a href="https://www.bloomsbury.com/uk/chemistry-9781137610355/" target="_blank">
                <div class="div-item2">
                    <div class="div-image5">
                    </div>
                    <div class="books-name">Fundamentals of Chemistry. Chemistry of Nanomaterials: Applications </div>
                    <div class="div-about">
                        Year: 2018<br />Pages: 171<br />Language: English<br />Level: Standart <br />Episode: Bloomsbury Foundations Series
                    </div>
                </div>
        </div>
        </a>


    </div>


    <button class="jb1" id="prev-btn"> </button>
    <button class="jb2" id="next-btn"></button>



</div>

<div class="video-instructions"> Video lessons</div>


<a href="https://www.youtube.com/watch?v=juKd26qkNAw&ab_channel=LearnEnglishwithEnglishClass101.com" target="_blank">
    <div class="video-continer1">
        <div class="preview"></div>
        <div class="video-info"><p class="pYt">Learn English in 30 Minutes - ALL the English Basics You Need</p></div>
    </div>
</a>

<a href="https://www.youtube.com/watch?v=NybHckSEQBI&t=375s&ab_channel=mathantics" target="_blank">
    <div class="video-continer2">
        <div class="preview1"></div>
        <div class="video-info">
            <p class="pYt">
                Algebra Basics: What Is Algebra? <br />Math Antics
            </p>
        </div>
    </div>
</a>

<a href="https://www.youtube.com/watch?v=gfkTfcpWqAY&ab_channel=ProgrammingwithMosh" target="_blank">
    <div class="video-continer3">
        <div class="preview2"></div>
        <div class="video-info">
            <p class="pYt">
                C# Tutorial For Beginners - Learn C# <br /> Basics in 1 Hour
            </p>
        </div>
    </div>
</a>


<div class="crabik"></div>
<div class="crocodilik"></div>
<div class="drakon"></div>

 *@


























