@page
@using Microsoft.Extensions.Localization
@model EasyLearn.Pages.Home.IndexModel
@inject IStringLocalizer<IndexModel> Localize

@{
    ViewData["Title"] = "Index";
}

<h1>@Localize["Welcome to index"]</h1>